@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Diablo Heavy';
  src: url('./assets/fonts/DiabloHeavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Diablo Light';
  src: url('./assets/fonts/DiabloLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Diablo Light', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
